@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --text-tiny: 0.625rem;
  --text-home-heading-large: 48px;
  --text-home-heading-medium: 32px;
  --text-home-heading-small: 28px;
  --spacing-section-height: 500px;
  --text-course-details-heading-large: 36px;
  --text-course-details-heading-medium: 28px;
  --text-course-details-heading-small: 26px;

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: Outfit;
}
